@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --tw-icon-hover: rgba(0, 0, 0, 0.88);
    --tw-color-bg-text-hover: rgba(0, 0, 0, 0.06);
    --tw-font-weight-strong: 600;
    --tw-font-size-base: 16px;
    --tw-cancel-color: #95a5a6;
    --tw-ok-color: #3498db;
    --animation-face-in-down: fadeInDown;
    --animation-face-in-down-out: fadeInDownOut;
    --animation-face-in-up: fadeInUp;
    --animation-face-in-up-out: fadeInUpOut;
    --top-z-index: 99999;
}

@layer components {
    /* MODAL  */
    .open-modal {
        @apply absolute opacity-20 block;
    }
    .close-modal {
        @apply opacity-0 hidden;
    }
    .close-center {
        @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 scale-0;
    }
    .modal-center {
        @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 scale-100;
    }
    .close-top-left {
        @apply absolute top-[5%] left-[5%] -translate-x-[5%] -translate-y-[5%] scale-0;
    }
    .modal-top-left {
        @apply absolute top-[5%] left-[5%] -translate-x-[5%] -translate-y-[5%] scale-100;
    }
    .close-bottom-left {
        @apply absolute bottom-[5%] left-[5%] -translate-x-[5%] -translate-y-[5%] scale-0;
    }
    .modal-bottom-left {
        @apply absolute bottom-[5%] left-[5%] -translate-x-[5%] -translate-y-[5%] scale-100;
    }
    .close-top-right {
        @apply absolute top-[5%] right-[5%] -translate-x-[5%] -translate-y-[5%] scale-0;
    }
    .modal-top-right {
        @apply absolute top-[5%] right-[5%] -translate-x-[5%] -translate-y-[5%] scale-100;
    }
    .close-bottom-right {
        @apply absolute bottom-[5%] right-[5%] -translate-x-[5%] -translate-y-[5%] scale-0;
    }
    .modal-bottom-right {
        @apply absolute bottom-[5%] right-[5%] -translate-x-[5%] -translate-y-[5%] scale-100;
    }
    .close-center-right {
        @apply absolute top-1/2 right-[5%] -translate-y-1/2 scale-0;
    }
    .modal-center-right {
        @apply absolute top-1/2 right-[5%] -translate-y-1/2 scale-100;
    }
    .close-center-top {
        @apply absolute top-[5%] right-1/2 translate-x-1/2 scale-0;
    }
    .modal-center-top {
        @apply absolute top-[5%] right-1/2 translate-x-1/2 scale-100;
    }
    .close-center-left {
        @apply absolute left-[5%] top-1/2 -translate-y-1/2 scale-0;
    }
    .modal-center-left {
        @apply absolute left-[5%] top-1/2 -translate-y-1/2 scale-100;
    }
    .close-center-bottom {
        @apply absolute bottom-[5%] left-1/2 -translate-x-1/2 scale-0;
    }
    .modal-center-bottom {
        @apply absolute bottom-[5%] left-1/2 -translate-x-1/2 scale-100;
    }
    /* END MODAL */

    /* DROPDOWN */
    .tw-dropdown {
        @apply before:content-[''] before:w-full before:h-[1rem] before:bg-transparent before:block before:absolute;
    }
    .tw-dropdown.placement-bottom-left,
    .tw-dropdown.placement-bottom-center,
    .tw-dropdown.placement-bottom-right {
        @apply before:top-full;
    }
    .tw-dropdown.placement-top-left,
    .tw-dropdown.placement-top-center,
    .tw-dropdown.placement-top-right {
        @apply before:bottom-full;
    }
    .tw-dropdown.placement-left-top,
    .tw-dropdown.placement-left-center,
    .tw-dropdown.placement-left-bottom {
        @apply before:w-[1rem] before:h-full before:right-full;
    }
    .tw-dropdown.placement-right-top,
    .tw-dropdown.placement-right-center,
    .tw-dropdown.placement-right-bottom {
        @apply before:w-[1rem] before:h-full before:left-full;
    }
    .tw-dropdown .tw-dropdown__list {
        display: none;
        opacity: 0;
    }

    .tw-dropdown:hover .tw-dropdown__list.trigger-hover {
        opacity: 1;
        display: block;
    }

    .tw-dropdown .tw-dropdown__list:is(.trigger-click).open-by-click {
        opacity: 1;
        display: block;
    }

    .tw-dropdown__list {
        @apply absolute p-2 bg-white w-max rounded-md z-[var(--top-z-index)]
        before:content-[''] 
        before:absolute  
        before:w-3
        before:h-3
        before:bg-white
        before:rounded-tl-sm
        before:rotate-45
        before:shadow-custom-6;
        @apply after:content-[''] 
        after:absolute
        after:w-[11px]
        after:h-[11px]
        after:bg-white
        after:rotate-45
        after:z-[2];
    }
    .tw-dropdown__list.arrow-false {
        @apply before:hidden after:hidden;
    }
    .tw-dropdown__list.placement-top-center {
        @apply bottom-full mb-[1rem] shadow-custom-2 -translate-x-1/2 left-1/2  before:bottom-[-5px] after:bottom-[-6px] before:left-1/2  after:left-1/2 before:-translate-x-1/2  after:-translate-x-1/2;
        --transform-x: -50%;
        animation-name: var(--animation-face-in-down);
    }
    .tw-dropdown__list.placement-top-left {
        @apply bottom-full mb-[1rem] shadow-custom-2 left-0 before:left-4  after:left-4 before:bottom-[-5px] after:bottom-[-6px];
        --transform-x: 0;
        animation-name: var(--animation-face-in-down);
    }
    .tw-dropdown__list.placement-top-right {
        @apply bottom-full mb-[1rem] shadow-custom-2 right-0 before:right-4 after:right-4 before:bottom-[-5px] after:bottom-[-6px];
        --transform-x: 0;
        animation-name: var(--animation-face-in-down);
    }
    .tw-dropdown__list.placement-bottom-center {
        @apply top-full mt-[1rem] shadow-custom-1 -translate-x-1/2 left-1/2 before:top-[-6px] after:top-[-5px] before:left-1/2  after:left-1/2 before:-translate-x-1/2  after:-translate-x-1/2;
        --transform-x: -50%;
        animation-name: var(--animation-face-in-up);
    }

    .tw-dropdown__list.placement-bottom-left {
        @apply top-full mt-[1rem] shadow-custom-1 left-0 before:left-4  after:left-4 before:top-[-6px] after:top-[-5px];
        --transform-x: 0;
        animation-name: var(--animation-face-in-up);
    }
    .tw-dropdown__list.placement-bottom-right {
        @apply top-full mt-[1rem] shadow-custom-1 right-0 before:right-4 after:right-4 before:top-[-6px] after:top-[-5px];
        --transform-x: 0;
        animation-name: var(--animation-face-in-up);
    }

    /* END DROPDOWN */

    /* ANIMATION */
    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translate3d(var(--transform-x), 20%, 0);
        }

        to {
            opacity: 1;
            transform: translate3d(var(--transform-x), 0, 0);
        }
    }

    .animation {
        animation-duration: 0.4s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: both;
        transform-origin: top;
    }

    @keyframes fadeInDown {
        from {
            opacity: 0;
            transform: translate3d(var(--transform-x), -20%, 0);
        }

        to {
            opacity: 1;
            transform: translate3d(var(--transform-x), 0, 0);
        }
    }

    /* END ANIMATION */
    ::-webkit-scrollbar {
        height: 7px;
        width: 4px;
    }
    ::-webkit-scrollbar {
        width: 7px;
    }

    ::-webkit-scrollbar-track {
        background: #f0f0f0;
        -webkit-border-radius: 26px;
        border-radius: 26px;
    }

    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 26px;
        border-radius: 26px;
        background: #5f5e5e;
    }
}
